@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Rubik:wght@300&display=swap');

:root {
    --primary-color: #457EAC;
    --secondary-color: #A4D4B4;
    --accent1-color: #1B4079;
    --accent2-color: #BBACC1;
    
    --heading-font: 'Frijole', sans-serif;
    --paragraph-font: 'Rubik', sans-serif;

    --nav-background-color: #A4D4B4;
    --nav-link-color: #1B4079;
    --nav-hover-link-color: #1B4079;
    --nav-hover-background-color: #BBACC1;
}

header {
    display: grid;
    grid-template-columns: 250px 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--primary-color);
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 40px;
    border: 1px solid black;
    background-color: var(--secondary-color);
}

header nav a {
    text-decoration: none;
    color: black;
    font-family: var(--paragraph-font);
    border: 1px solid black;
    flex: auto;
    padding: 10px;
}

body {
    font-family: var(--paragraph-font);
    max-width: 900px;
    padding: 20px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}


p {
    font-size: 20px;
}

h2 {
    text-align: center;
}

footer {
    display: grid;
    background-color: var(--primary-color);
    padding: 20px;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: 2fr 1fr;
}

footer nav a{
    padding: 10px;
    text-decoration: none;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: var(--primary-color);
    font-size: 1.3em;
}

label {
    text-align: left;
    padding: 0;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

button {
    margin: 1rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button:hover {
    background-color: var(--secondary-color);
}

.hero {
    position: relative;
    margin-top: 10px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: -20px;
    left: 160px;
    font-size: 45px;
    color: var(--secondary-color);
}

.hero article {
    position: absolute;
    display: block;
    bottom: 70px;
    right: 20px;
    left: 20px;
    background-color: #05293cb8;
    color: white;
    
}

.hero article img {
    width: 300px;
    float: right;
    padding: 20px;
    
}

.hero p {
    padding: 25px;
    text-align: center;
}

.history section{
    display: grid;
    grid-template-columns: 300px 250px 300px;
    justify-content: space-around;
    margin-top: 10px;
}

.history section img {
    width: 250px;
}
.form-item {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 6fr;
    padding-bottom: 1rem;
    
}

.logo img{
    width: 200px;
}

.subscription {
    grid-template-columns: 1.4fr 1fr;
}

.adventureimages, .employeeimages {
    max-width: 900px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.employeeimages img{
    width: 245px;
}

.adventure img {
    width: 110px;
}


